<h1>Welcome to the Movie Collection Management App!</h1>
<table class="table">
  <thead>
    <tr>
      <th>Movies</th>
      <th>Genres</th>
      <th>Views</th>
      <th>Edit</th>

    </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= "#{movie.title} by #{movie.director} (#{movie.release_year})" %></td>
      <td><%= "genres - #{movie.genres}" %></td>
      <td><%= "#{movie.display_views_and_most_viewed}" %></td>
      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    </tr>
  <% end %>
</tbody>
   
</table>