<h1>Welcome to the Movie Collection Management App!</h1>
<table class="table">
  <thead>
    <tr>
      <th>Moive</th>
      <th>Genres</th>
      <th>Views</th>
    </tr>
  </thead>
  <tbody>
   
</table>